In [4]:
import sqlite3
connection = sqlite3.connect("./quiz.db")
cursor = connection.cursor()
cursor.execute("""Drop table if exists Symbols;""")

In [10]:
sql_command = """
Create Table if not exists Symbols (
Symbol text PrimaryKey Not Null,
CUSIP text Not Null,
CompanyName text Not Null
);
"""

cursor.execute(sql_command)

cursor.executemany("Insert into Symbols(Symbol, CUSIP, CompanyName) Values(?, ?, ?)",
[
("GOOG", "38259P508", "Alphabet Inc."),
("IBM", "459200101", "International Business Machines Corporation."),
("C", "312072001", "Citigroup.")
]
)

In [12]:
# Traders
cursor.execute("""Drop table if exists Traders;""")

sql_command = """
Create Table if not exists Traders (
TraderID text Primary Key Not Null,
LastName text Not Null,
FirstName text Not Null,
Email text Not Null,
Phone text Not Null
);
"""

cursor.execute(sql_command)

In [13]:
cursor.executemany("Insert into Traders Values(?, ?, ?, ?, ?)",
[
("1234", "ABC", "Joe", "JA123@gs.com", "212-111-1234"),
("1245", "BCD", "Andy", "AB123@jp.com", "212-222-1234"),
("2345", "ABC", "Smith", "SA234@citi.com", "212-333-1234")
]
)

In [14]:
# Orders
cursor.execute("""Drop table if exists Orders;""")

sql_command = """
Create Table if not exists Orders (
OrderID text Primary Key Not Null,
Price real ,
Quantity integer Not Null,
Side char(1) Not Null,
OrderType text Not Null,
Symbol text Not Null,
Foreign Key(Symbol) references Symbols(Symbol)
);
"""

cursor.execute(sql_command)

In [15]:
cursor.executemany("Insert into Orders Values(?, ?, ?, ?, ?, ?)",
[
("GSJA000111122015", "717.01", "200", "B", "Limit", "GOOG"),
("JPAB000111132015", "", "125", "S", "Market", "GOOG"),
("CTSA000111132015", "131.75", "1000", "B", "Limit", "IBM"),
("GSJA000211122015", "53.17", "10000", "B", "Limit", "C"),
("JPAB000211132015", "131.70", "2000", "S", "Limit", "IBM"),
("CTSA000211132015", "", "200", "B", "Market", "C")
]
)

In [17]:
# Executions
cursor.execute("""Drop table if exists Executions;""")

sql_command = """
Create Table if not exists Executions (
ExecutionsID text PrimaryKey Not Null,
Status char(1) Not Null,
Exchange char(1) Not Null,
FreeText text ,
OrderID text Not Null,
TraderID text Not Null,
Foreign Key(OrderID) references Orders(OrderID),
Foreign Key(TraderID) references Traders(TraderID)
);
"""

cursor.execute(sql_command)

In [18]:
cursor.executemany("insert into Executions Values(?, ?, ?, ?, ?, ?)",
[
("123", "6", "P", "Partial Filled", "GSJA000111122015", "1234"),
("124", "8", "P", "Filled", "JPAB000111132015", "1245"),
("125", "0", "N", "Pending", "CTSA000111132015", "2345"),
("126", "4", "P", "Cancelled", "GSJA000211122015", "1234"),
("127", "0", "N", "Pending", "JPAB000211132015", "1245"),
("128", "8", "N", "Filled", "CTSA000211132015", "2345")
]
)

connection.commit()
connection.close()

In [32]:
connection = sqlite3.connect("quiz.db")
cursor = connection.cursor()

cursor.execute(" SELECT Symbols.*, Traders.*, Orders.*, Executions.* \
FROM Traders INNER JOIN (Symbols INNER JOIN (Orders INNER JOIN \
Executions ON Orders.OrderID = Executions.OrderID) \
ON Symbols.Symbol = Orders.Symbol) ON \
Traders.[TraderID]=Executions.TraderID ;");

In [33]:
result = cursor.fetchall()

In [34]:
for r in result:
    print(r)

('GOOG', '38259P508', 'Alphabet Inc.', '1234', 'ABC', 'Joe', 'JA123@gs.com', '212-111-1234', 'GSJA000111122015', 717.01, 200, 'B', 'Limit', 'GOOG', '123', '6', 'P', 'Partial Filled', 'GSJA000111122015', '1234')
('GOOG', '38259P508', 'Alphabet Inc.', '1245', 'BCD', 'Andy', 'AB123@jp.com', '212-222-1234', 'JPAB000111132015', '', 125, 'S', 'Market', 'GOOG', '124', '8', 'P', 'Filled', 'JPAB000111132015', '1245')
('IBM', '459200101', 'International Business Machines Corporation.', '2345', 'ABC', 'Smith', 'SA234@citi.com', '212-333-1234', 'CTSA000111132015', 131.75, 1000, 'B', 'Limit', 'IBM', '125', '0', 'N', 'Pending', 'CTSA000111132015', '2345')
('C', '312072001', 'Citigroup.', '1234', 'ABC', 'Joe', 'JA123@gs.com', '212-111-1234', 'GSJA000211122015', 53.17, 10000, 'B', 'Limit', 'C', '126', '4', 'P', 'Cancelled', 'GSJA000211122015', '1234')
('IBM', '459200101', 'International Business Machines Corporation.', '1245', 'BCD', 'Andy', 'AB123@jp.com', '212-222-1234', 'JPAB000211132015', 131.7, 2000, 'S', 'Limit', 'IBM', '127', '0', 'N', 'Pending', 'JPAB000211132015', '1245')
('C', '312072001', 'Citigroup.', '2345', 'ABC', 'Smith', 'SA234@citi.com', '212-333-1234', 'CTSA000211132015', '', 200, 'B', 'Market', 'C', '128', '8', 'N', 'Filled', 'CTSA000211132015', '2345')

In [37]:
sql_st = 'SELECT * FROM Orders'
result = cursor.execute(sql_st)

In [38]:
result.fetchall()

[('GSJA000111122015', 717.01, 200, 'B', 'Limit', 'GOOG'),
 ('JPAB000111132015', '', 125, 'S', 'Market', 'GOOG'),
 ('CTSA000111132015', 131.75, 1000, 'B', 'Limit', 'IBM'),
 ('GSJA000211122015', 53.17, 10000, 'B', 'Limit', 'C'),
 ('JPAB000211132015', 131.7, 2000, 'S', 'Limit', 'IBM'),
 ('CTSA000211132015', '', 200, 'B', 'Market', 'C')]

In [50]:
a = dict()
import numpy as np
a['0'] = np.array([1,2,3,4,5])

In [52]:
a['1'] = np.array([2,3,4,5,6])

In [55]:
np.array(list(a.values()))

array([[1, 2, 3, 4, 5],
       [2, 3, 4, 5, 6]])