In [152]:
import os
import pandas as pd
import numpy as np
from datetime import timedelta

In [153]:
file_path = os.path.join(os.getcwd(), 'SPY_May_2012.csv')

In [154]:
spy = pd.read_csv(file_path, usecols=['Date[G]', 'Time[G]', 'Type', 'Price', 'Volume'], nrows=5000)

In [155]:
trade = spy[spy.loc[:, 'Type']=='Trade']

In [156]:
data = trade[('09:30:00.000'<=trade['Time[G]']) & (trade['Time[G]']<'16:00:00.000')]

In [157]:
data.reset_index(drop=True, inplace=True)

In [159]:
data = data.dropna()

In [160]:
data.head()

       Date[G]       Time[G]   Type   Price   Volume
0  01-MAY-2012  09:52:34.084  Trade  139.76    500.0
1  01-MAY-2012  09:52:34.084  Trade  139.76  16000.0
2  01-MAY-2012  09:52:34.084  Trade  139.76   3000.0
3  01-MAY-2012  09:52:34.084  Trade  139.76    500.0
4  01-MAY-2012  10:02:23.829  Trade  139.75    200.0

In [161]:
hours= ['09', '10', '11', '12', '13', '14', '15', '16']

In [162]:
mins = ['00', '15', '30', '45']

In [163]:
t = []

In [164]:
for h in hours:
    for m in mins:
        time = h + ':' + m + ':' + '00.000'
        t.append(time)

In [165]:
t = t[2:-4]

In [166]:
result = pd.DataFrame(index=t, columns=['Volume', 'Price'])

In [167]:
result

             Volume Price
09:30:00.000    NaN   NaN
09:45:00.000    NaN   NaN
10:00:00.000    NaN   NaN
10:15:00.000    NaN   NaN
10:30:00.000    NaN   NaN
10:45:00.000    NaN   NaN
11:00:00.000    NaN   NaN
11:15:00.000    NaN   NaN
11:30:00.000    NaN   NaN
11:45:00.000    NaN   NaN
12:00:00.000    NaN   NaN
12:15:00.000    NaN   NaN
12:30:00.000    NaN   NaN
12:45:00.000    NaN   NaN
13:00:00.000    NaN   NaN
13:15:00.000    NaN   NaN
13:30:00.000    NaN   NaN
13:45:00.000    NaN   NaN
14:00:00.000    NaN   NaN
14:15:00.000    NaN   NaN
14:30:00.000    NaN   NaN
14:45:00.000    NaN   NaN
15:00:00.000    NaN   NaN
15:15:00.000    NaN   NaN
15:30:00.000    NaN   NaN
15:45:00.000    NaN   NaN

In [168]:
trade = data[data['Date[G]'] < '21-MAY-2012']

In [169]:
trade21 = data[data['Date[G]'] == '21-MAY-2012']

In [170]:
len = np.size(t)
len

26

In [182]:
for i in range(len-1):
    vol = ( ( trade[ (t[i] <= trade['Time[G]']) & (trade['Time[G]'] < t[i+1]) ] )['Volume'] ).sum()
    result.loc[t[i], 'Volume'] = vol
    
    price = ( trade21[ (t[i] <= trade21['Time[G]']) & (trade21['Time[G]'] < t[i+1]) ] ).loc[0, 'Price']
    result.loc[t[i], 'Price'] = price

KeyError: 'the label [0] is not in the [index]'

In [202]:
days = (trade['Date[G]']).drop_duplicates()

In [209]:
num_days = np.size(b)

In [210]:
result['Volume'] = result['Volume']/num_days

In [211]:
result

              Volume Price
09:30:00.000       0   NaN
09:45:00.000   20000   NaN
10:00:00.000     200   NaN
10:15:00.000    9900   NaN
10:30:00.000   17800   NaN
10:45:00.000   91500   NaN
11:00:00.000    6684   NaN
11:15:00.000   54710   NaN
11:30:00.000   71498   NaN
11:45:00.000   57972   NaN
12:00:00.000  313811   NaN
12:15:00.000  198411   NaN
12:30:00.000       0   NaN
12:45:00.000       0   NaN
13:00:00.000       0   NaN
13:15:00.000       0   NaN
13:30:00.000       0   NaN
13:45:00.000       0   NaN
14:00:00.000       0   NaN
14:15:00.000       0   NaN
14:30:00.000       0   NaN
14:45:00.000       0   NaN
15:00:00.000       0   NaN
15:15:00.000       0   NaN
15:30:00.000       0   NaN
15:45:00.000     NaN   NaN