In [200]:
# -*- coding: utf-8 -*
#!/usr/bin/env python3

import json
import datetime as dt
import urllib.request
import pandas as pd
import numpy as np

from sqlalchemy import Column, Integer, Float, String
from sqlalchemy import create_engine
from sqlalchemy import MetaData
from sqlalchemy import Table
from sqlalchemy import inspect

In [201]:
requestURL = "https://eodhistoricaldata.com/api/eod/"
myEodKey = "5ba84ea974ab42.45160048"

startDate = dt.datetime(2018,1,1)
endDate = dt.datetime(2019,1,31)

backtest_start = dt.datetime(2018,12,31)
backtest_end = dt.datetime(2019,1,31)

In [202]:
def get_daily_data(symbol, start=startDate, end=endDate, requestType=requestURL, apiKey=myEodKey):
    symbolURL = str(symbol) + ".US?"
    startURL = "from=" + str(start)
    endURL = "to=" + str(end)
    apiKeyURL = "api_token=" + myEodKey
    completeURL = requestURL + symbolURL + startURL + '&' + endURL + '&' + apiKeyURL + '&period=d&fmt=json'
#     print(completeURL)
    with urllib.request.urlopen(completeURL) as req:
        data = json.load(req)
        return data
    
def create_pair_table(name, metadata, engine):
	tables = metadata.tables.keys()
	if name not in tables:
		table = Table(name, metadata, 
					Column('symbol', String(50), primary_key=True, nullable=False),
					Column('date', String(50), primary_key=True, nullable=False),
					Column('open', Float, nullable=False),
					Column('high', Float, nullable=False),
					Column('low', Float, nullable=False),
					Column('close', Float, nullable=False),
                       Column('adjusted_close', Float, nullable=False),
					Column('volume', Integer, nullable=False))
		table.create(engine)

def clear_a_table(table_name, metadata, engine):
    conn = engine.connect()
    table = metadata.tables[table_name]
    delete_st = table.delete()
    conn.execute(delete_st)

def execute_sql_statement(sql_st, engine):
    result = engine.execute(sql_st)
    return result

In [203]:
def populate_stock_data(tickers, metadata, engine, table_name):
    conn = engine.connect()
    table = metadata.tables[table_name]
    for ticker in tickers:
        stock = get_daily_data(ticker)
#         print(stock)
        for stock_data in stock:
            #print(k, v)
            trading_date = stock_data['date']
            trading_open = stock_data['open']
            trading_high = stock_data['high']
            trading_low = stock_data['low']
            trading_close = stock_data['close']
            trading_adjusted_close = stock_data['adjusted_close']
            trading_volume = stock_data['volume']
            insert_st = table.insert().values(symbol=ticker, date=trading_date,
					open = trading_open, high = trading_high, low = trading_low,
					close = trading_close, adjusted_close = trading_adjusted_close, 
                       volume = trading_volume)
            conn.execute(insert_st)

In [204]:
# def populate_stock_data(ticker, metadata, engine, table_name):
#     conn = engine.connect()
#     table = metadata.tables[table_name]

#     stock = get_daily_data(ticker)
#     for stock_data in stock:
#         trading_date = stock_data['date']
#         trading_open = stock_data['open']
#         trading_high = stock_data['high']
#         trading_low = stock_data['low']
#         trading_close = stock_data['close']
#         trading_adjusted_close = stock_data['adjusted_close']
#         trading_volume = stock_data['volume']
#         insert_st = table.insert().values(symbol=ticker, date=trading_date,
# 				open = trading_open, high = trading_high, low = trading_low,
# 				close = trading_close, adjusted_close = trading_adjusted_close, 
#                    volume = trading_volume)
#         conn.execute(insert_st)

In [205]:
def create_pairs_table(name, metadata, engine):
    tables = metadata.tables.keys()
    if name not in tables:
        table = Table(name, metadata, 
                        Column('ticker1', String(50), primary_key=True, nullable=False),
                        Column('ticker2', String(50), primary_key=True, nullable=False),
                        Column('volatility', Float, nullable=False),
                        Column('profit_loss', Float, nullable=False))

        table.create(engine)

In [206]:
def create_pairprices_table(name, metadata, engine):
    tables = metadata.tables.keys()
    if name not in tables:
        table = Table(name, metadata, 
					Column('ticker1', String(50), primary_key=True, nullable=False),
					Column('ticker2', String(50), primary_key=True, nullable=False),
					Column('date', String(50), primary_key=True, nullable=False),
					Column('open1', Float, nullable=False),
					Column('close1', Float, nullable=False),
					Column('open2', Float, nullable=False),
					Column('close2', Float, nullable=False))
        
        table.create(engine)

In [207]:
def create_trades_table(name, metadata, engine):
    tables = metadata.tables.keys()
    if name not in tables:
        table = Table(name, metadata, 
					Column('ticker1', String(50), primary_key=True, nullable=False),
					Column('ticker2', String(50), primary_key=True, nullable=False),
					Column('date', String(50), primary_key=True, nullable=False),
					Column('profit_loss', Float, nullable=False))
        
        table.create(engine)

In [255]:
def populate_pairprices_table(tickers, metadata, engine):
    conn = engine.connect()
    table = metadata.tables['PairPrices']
    
    s = backtest_start.strftime('%Y-%m-%d')
    e = backtest_end.strftime('%Y-%m-%d')
    
    sql_st = '''
SELECT Pair1Stocks.symbol, Pair2Stocks.symbol, Pair1Stocks.date, Pair1Stocks.open, Pair1Stocks.close, Pair2Stocks.open, Pair2Stocks.close 
FROM Pair1Stocks, Pair2Stocks 
WHERE ((Pair1Stocks.date >= \'{}\') AND (Pair1Stocks.date <= \'{}\') AND (Pair1Stocks.date = Pair2Stocks.date) AND (Pair1Stocks.symbol = \'{}\') AND (Pair2Stocks.symbol = \'{}\'))
''' .format(s, e, tickers[0], tickers[1])
    
    result = execute_sql_statement(sql_st, engine)
    
    for r in result:
        insert_st = table.insert().values(ticker1=r[0], ticker2=r[1], date=r[2],
					open1 = r[3], close1 = r[4],
					open2 = r[5], close2 = r[6])
    
        conn.execute(insert_st)

In [209]:
def populate_trades_table(tickers, metadata, engine):
    conn = engine.connect()
    table = metadata.tables['Trades']
    
    for i in range(len(PairPrices)):
        
        trading_date = PairPrices.loc[i, 'date']
        pnl = PairPrices.loc[i, 'PnL']
        
        insert_st = table.insert().values(ticker1=tickers[0], ticker2=tickers[1], date=trading_date,
					profit_loss = pnl)
    
        conn.execute(insert_st)

In [210]:
def populate_pairs_table(tickers, metadata, engine):
    conn = engine.connect()
    table = metadata.tables['Pairs']
                    
    insert_st = table.insert().values(ticker1=tickers[0], ticker2=tickers[1], volatility=vol,
				profit_loss = total_PnL)
    
    conn.execute(insert_st)

In [211]:
k = 1

In [212]:
tickers = ['AAPL', 'HPQ']

In [213]:
ticker_pairs = pd.read_csv('PairTrading.csv')

In [214]:
for t1, t2 in zip(ticker_pairs['Ticker1'], ticker_pairs['Ticker2']):
    tickers = [t1, t2]

In [215]:
tickers

['UGA', 'USO']

In [216]:
def build_pair_trading_model():
    # ............
	# ............
  
    return 0

In [217]:
engine = create_engine('sqlite:///:memory:')
metadata = MetaData(engine)

In [218]:
create_pair_table('Pair1Stocks', metadata, engine)
create_pair_table('Pair2Stocks', metadata, engine)
create_pairs_table('Pairs', metadata, engine)
create_pairprices_table('PairPrices', metadata, engine)
create_trades_table('Trades', metadata, engine)

In [219]:
metadata.tables.keys()

dict_keys(['Pair1Stocks', 'Pair2Stocks', 'Pairs', 'PairPrices', 'Trades'])

In [220]:
pair1_list = list(set(ticker_pairs['Ticker1']))
pair2_list = list(set(ticker_pairs['Ticker2']))

In [221]:
populate_stock_data(pair1_list, metadata, engine, 'Pair1Stocks')

In [222]:
populate_stock_data(pair2_list, metadata, engine, 'Pair2Stocks')

In [224]:
sql_st = 'SELECT * FROM Pair1Stocks WHERE symbol=\'AAPL\' '
result = execute_sql_statement(sql_st, engine)

In [226]:
tickers

['UGA', 'USO']

In [227]:
# build model

In [249]:
sql_st = '''
SELECT Pair1Stocks.adjusted_close, Pair2Stocks.adjusted_close 
FROM Pair1Stocks, Pair2Stocks 
WHERE ((Pair1Stocks.symbol = \'{}\') AND (Pair2Stocks.symbol = \'{}\'))
'''.format(tickers[0], tickers[1])
result = execute_sql_statement(sql_st, engine)
adj_close = np.array(result.fetchall())
pr = adj_close[:,0] / adj_close[:,1]
vol = np.std(pr)
vol

0.4139744663622525

In [256]:
populate_pairprices_table(metadata, engine)

In [262]:
sql_st = '''
SELECT * FROM PairPrices
WHERE ((ticker1 = \'{}\') AND (ticker2 = \'{}\'))
'''.format(tickers[0], tickers[1])
result = execute_sql_statement(sql_st, engine)

In [263]:
PairPrices = pd.DataFrame(result.fetchall(), columns=['ticker1', 'ticker2', 'date', 'open1', 'close1', 'open2', 'close2'])

In [267]:
PairPrices.head()

  ticker1 ticker2        date  open1  close1  open2  close2
0     UGA     USO  2018-12-31  22.83   22.91   9.63    9.66
1     UGA     USO  2019-01-02  22.45   23.21   9.42    9.85
2     UGA     USO  2019-01-03  23.75   23.57   9.99    9.95
3     UGA     USO  2019-01-04  24.00   23.70  10.17   10.18
4     UGA     USO  2019-01-07  23.89   23.58  10.27   10.29

In [268]:
PnL = []

for i in range(1, len(PairPrices)):
    
    diff = abs( PairPrices.loc[i-1, 'close1'] / PairPrices.loc[i-1, 'close2'] \
    - PairPrices.loc[i, 'open1'] / PairPrices.loc[i, 'open2'] )
    
    if diff >= k*vol:
        # short the pair
        N1 = 10000
        N2 = (-N1) * ( PairPrices.loc[i, 'open1'] / PairPrices.loc[i, 'open2'] )
        # close the trade and calculate PnL
        r = N1 * ( PairPrices.loc[i, 'open1'] - PairPrices.loc[i, 'close1'] ) \
            + N2 * ( PairPrices.loc[i, 'open2'] - PairPrices.loc[i, 'close2'] )
        
    elif diff < k*vol:
        # long the pair
        N1 = -10000
        N2 = (-N1) * ( PairPrices.loc[i, 'open1'] / PairPrices.loc[i, 'open2'] )
        # close the trade and calculate PnL
        r = N1 * ( PairPrices.loc[i, 'open1'] - PairPrices.loc[i, 'close1'] ) \
            + N2 * ( PairPrices.loc[i, 'open2'] - PairPrices.loc[i, 'close2'] )
    
    PnL.append(r)

In [269]:
PnL.insert(0,0)

In [270]:
PairPrices['PnL'] = PnL

In [271]:
PairPrices.head()

  ticker1 ticker2        date  open1  close1  open2  close2          PnL
0     UGA     USO  2018-12-31  22.83   22.91   9.63    9.66     0.000000
1     UGA     USO  2019-01-02  22.45   23.21   9.42    9.85 -2647.876858
2     UGA     USO  2019-01-03  23.75   23.57   9.99    9.95  -849.049049
3     UGA     USO  2019-01-04  24.00   23.70  10.17   10.18 -3235.988201
4     UGA     USO  2019-01-07  23.89   23.58  10.27   10.29 -3565.238559

In [79]:
populate_trades_table(tickers, metadata, engine)

In [80]:
sql_st = 'SELECT * FROM Trades'
result = execute_sql_statement(sql_st, engine)

In [81]:
Trades = pd.DataFrame(result.fetchall(), columns=['ticker1', 'ticker2', 'date', 'PnL'])
Trades.head()

  ticker1 ticker2        date          PnL
0     UGA     USO  2018-12-31     0.000000
1     UGA     USO  2019-01-02 -2647.876858
2     UGA     USO  2019-01-03  -849.049049
3     UGA     USO  2019-01-04 -3235.988201
4     UGA     USO  2019-01-07 -3565.238559

In [82]:
total_PnL = Trades['PnL'].sum()
total_PnL

-29074.038775780107

In [83]:
populate_pairs(tickers, metadata, engine)

In [84]:
sql_st = 'SELECT * FROM Pairs'
result = execute_sql_statement(sql_st, engine)

In [85]:
result.fetchall()

[('UGA', 'USO', 0.11503871638123819, -29074.038775780107)]

In [ ]:
def backtesting()

In [61]:
# main function

ticker_pairs = pd.read_csv('PairTrading.csv')

for t1, t2 in zip(ticker_pairs['Ticker1'], ticker_pairs['Ticker2']):
    tickers = [t1, t2]
    
    build_pair_trading_model()
    backtesting()